[submodule "projectRef/clinique-ar"]
	path = projectRef/clinique-ar
	url = git@github.com:u-cosmetics/clinique-ar.git
[submodule "projectRef/oms"]
	path = projectRef/oms
	url = git@github.com:u-cosmetics/oms.git
[submodule "projectRef/busybee"]
	path = projectRef/busybee
	url = git@github.com:u-cosmetics/busybee.git
[submodule "projectRef/crm"]
	path = projectRef/crm
	url = git@github.com:u-cosmetics/crm.git
[submodule "projectRef/bpp"]
	path = projectRef/bpp
	url = git@github.com:u-cosmetics/bpp.git
[submodule "projectRef/mobile"]
	path = projectRef/mobile
	url = git@github.com:u-cosmetics/mobile.git
